MONGO_URI=mongodb://localhost:27017
MAIN_DB_NAME="*******"
PORT=4646
PUBLIC_API_URL="https://your-api-domain.example"
APP_SECRET="*********************"
CLOUDINARY_CLOUD_NAME="*********************"
CLOUDINARY_API_KEY="*********************"
CLOUDINARY_API_SECRET="*********************"
