MONGO_URI=mongodb://localhost:27017
MAIN_DB_NAME="*******"
POSTGRES_URL=postgres://space_together:space_together@localhost:5432/space_together
DB_DRIVER=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD="********"
DB_NAME=space_together
PORT=4646
PUBLIC_API_URL="https://your-api-domain.example"
APP_SECRET="*********************"
CLOUDINARY_CLOUD_NAME="*********************"
CLOUDINARY_API_KEY="*********************"
CLOUDINARY_API_SECRET="*********************"
